.animated-bar {
  background-color: #fff;
  content: "";
  display: block;
  height: 5px;
  left: 0;
  margin: 0 auto 0 auto;
  position: relative;
  right: 0;
  width: 90px;
}
.animated-bar {
  background-color: var(--pink);
}
.animated-bar:after {
  left: 0;
}
.animated-bar:before {
  left: 8px;
}
.animated-bar:after,
.animated-bar:before {
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: barAnimation;
  -webkit-animation-timing-function: linear;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: barAnimation;
  animation-timing-function: linear;
  background-color: #101010;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 4px;
}

.animated-bar:after,
.animated-bar:before {
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: barAnimation;
  -webkit-animation-timing-function: linear;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: barAnimation;
  animation-timing-function: linear;
  background-color: #101010;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 4px;
}

@keyframes barAnimation {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(75px);
    transform: translateX(75px);
  }
}

.about {
  background-image: linear-gradient(
      to top,
      rgba(24, 24, 24, 0.63),
      rgb(24, 24, 24)
    ),
    url(../../Assets/Images/a-41.jpg);
  width: 100%;
  background-size: cover;
}

.about_p {
  color: #ffffffa1;
  font-weight: 500;
}

.btn_About:before {
  background: none;
}
.btn_About:after {
  background: none;
}
