.branding {
    background-image:linear-gradient(
        to top,
        rgba(24, 24, 24, 0.74),
        rgb(24, 24, 24)
      ), url(../../../Assets//Images/counter-bg2.jpg);
  background-size: cover;
  background-position-y: center;
  background-size: cover;
  height: auto;
  position: relative;
  width: 100%;
}

.branding.bgbottom:before, branding.bgbottom:before {
    background-image: linear-gradient(rgb(16 25 35 / 9%),#111112);
    bottom: 0;
    content: "";
    height: 30%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.branding.bgtop:after, branding.bgtop:after {
    background-image: linear-gradient(#131514,rgba(38, 43, 48, 0));
    content: "";
    height: 24%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.brand_width{
    width: 45% !important;
    margin: auto;
}
@media screen and (max-width: 425px) {
    .brand_width{
        width: 100% !important;
        margin: auto;
    }
}

