.project {
    background-image: linear-gradient(
        to top,
        rgba(24, 24, 24, 0.74),
        rgb(24, 24, 24)
      ),
      url(../../../Assets//Images/shape-2.jpg);
    width: 100%;
    background-size: cover;
  }

  .project_grid {
    width: calc(60% - -151px);
    overflow: hidden;
}

.inner {
    box-shadow: 0 1px 31.92px 6.08px rgba(12, 26, 46, 0.979);
    box-shadow: 0 1px 7.5px 2.5px rgba(5,2,52,.05);
    margin-bottom: 35px;
    max-height: 530px;
    overflow: hidden;
}

.inner img {
    transition: all 3s;
}
.project_grid:hover .inner img {
    transform: translateY(calc(-100% + 530px));
}

.project_grid .p-url {
    background: linear-gradient(90deg,#FF0080,#FF0080 35%,#FF0080);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 5px;
}
.project_grid .p-url:hover {
    -webkit-animation: single-news 1.5s ease;
    animation: single-news 1.5s ease;
}

.slick-prev {
    left: 65% !important;
}

.slick-next {
    left: 82% !important;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 110% !important;
    
    display: block;
    width: 20px;
    height: 20px;
    right: 0;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:before, .slick-next:before {
    font-size: 40px !important;
}

@keyframes single-news {
    0% {
        background-size: 0% 5px;
        -webkit-background-size: 0% 5px
    }

    50% {
        background-size: 100% 5px;
        -webkit-background-size: 100% 5px;
        background-position: bottom left
    }

    51% {
        background-size: 100% 5px;
        -webkit-background-size: 100% 5px;
        background-position: bottom right
    }

    100% {
        background-size: 0% 5px;
        -webkit-background-size: 0% 5px;
        background-position: bottom right
    }
}


*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.button {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding-right: 40px;
  margin-top: 6px !important;
}
.button:hover .button__border-circle {
  transform: translateX(60px);
}
.button:hover .button__mask-circle {
  -webkit-clip-path: circle(25px at 85px);
          clip-path: circle(25px at 85px);
}

.button__text {
  z-index: 1;
  font-size: 14px;
  margin-right: -18px;
  color: #fafafa;
  letter-spacing: 0.05em;
}

.button__wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.button__arrow {
  left: 35px;
  height: 3px;
  width: 50px;
  display: flex;
  position: absolute;
  align-items: center;
  background-color: #ff00b1;
}
.button__arrow:after {
  content: "";
  width: 0;
  height: 0;
  top: -5px;
  right: -7px;
  position: absolute;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #ff00b1;
}

.button__border-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #bfbfbf;
  transition: transform 987ms;
}

.button__mask-circle {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-clip-path: circle(25px);
          clip-path: circle(25px);
  transition: -webkit-clip-path 987ms;
  transition: clip-path 987ms;
  transition: clip-path 987ms, -webkit-clip-path 987ms;
}

.button__small-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: translateX(60px);
  background-color: #ff00b1;
}
