.counterup {
    background-image:linear-gradient(
        to top,
        rgba(24, 24, 24, 0.74),
        rgb(24, 24, 24)
      ),
      url('../../../Assets//Images/counter-bg1.jpg');
    width: 100%;
    background-size: cover; 
        background-position-y: center;
        background-size: cover;
        height: auto;
        position: relative;
        width: 100%;
}

.counterup.bgbottom:before, counterup.bgbottom:before {
    background-image: linear-gradient(rgb(16 25 35 / 9%),#111112);
    bottom: 0;
    content: "";
    height: 30%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.counterup.bgtop:after, counterup.bgtop:after {
    background-image: linear-gradient(#131514,rgba(38, 43, 48, 0));
    content: "";
    height: 24%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
