@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400;500;600;700;800&display=swap');

:root {
    --pink: #FF0080;
    --white: #ffffff;
}

body{
    background-color: rgb(24,24,24);
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Syne', sans-serif;
}

.container{
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* ===== Scrollbar CSS ===== */
  * {
    scrollbar-width: thin;
    scrollbar-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(200,3,126,1) 35%, rgba(255,0,129,1) 100%);
  }

  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #171717;
  }

  *::-webkit-scrollbar-thumb {
    background-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(200,3,126,1) 35%, rgba(255,0,129,1) 100%);
    border-radius: 4px;
    border: 3px groove #d60068;
  }


