
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 20px;
  content: '';
  text-align: center;
  opacity: .25;
  border: 1px solid #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: none;
  width: 2px;
  height: 20px;
  border: 1px solid #ff0094;
}
